#title{
    margin-left:10px;
}
.container {
    width: 100%;
    overflow-x: scroll;
    padding: 20px 0;
    margin-bottom: 8%;
 
}
  
.scrolling-wrapper {
    display: flex;
}
  
.book {
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    margin-right: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

#image{
    height: 300px;
    width: 200px;
    align-items: center;
}
  
.navbar-brand img {
    height: 45px;
    cursor: pointer;
}
.navbar{
    background-color: lightgray;
}
.nav-link{
    color: black;
    font-size:1.2rem ;
    margin-right: auto;
    font-weight: bold;
}
#contact{
    color: #f5f4f4;
    margin-top: 9%;
    height: 20vh;
    width: 100%;
    background: url(contact1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    opacity: 0.7;
}
#contact h1{
    font-size: 50px;
    margin-left: 20px;
}
.cont1{
    display: flex;
}
.cont{
    color: #f5f4f4;
    margin-top: 10px;
    margin-left: 25px;
    width: 30%;
    font-size: 17px;
}


footer{
    text-align: center;
    background: black;
    color: white;
    padding: 9px 20px;
}



